body{
    text-align: center;
    margin: 0px;
}
html,body{
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}
.background{
    background-color: whitesmoke;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
    /* overflow: hidden; */
}
.navbar ul a{
    font-size: 12.5px;
    font-family: sans-serif;
    color: rgb(122, 120, 120);
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
    text-align: center;
}
.navbar ul li{
 display: inline-block;
}
.img-fluid{
    width: 100%;
   height: 20px;
}
.navbar a:hover{
    color: black;
}
.text{
    background-color: rgb(236, 236, 236);
    font-family: sans-serif;
    font-size:12.5px;
}
.text li{ 
    list-style-type: none; 
}
.text li a{
    color: rgb(60, 130, 249);
    text-decoration: none;
    font-family: sans-serif;
}
.text li a:hover{
    text-decoration: underline;
}
.title h1{
    margin-left: 60px;
    text-align: left;
    font-size: 50px;
   
}
.title h3{
    text-align: right;
    font-size: 25px;
    margin-right: 60px;
    margin-bottom: 30px;
}

.image-list{
   width: 50px;
   height: 55px;
}
video{
    height:850px;
    border-radius: 50px;
}
.pic{
    background-image: url(img/person.jpg);
    height: 500px;
    border-radius: 30px;
   margin: 100px; 
}
.pic h1{
    padding-top: 120px;
    padding-right: 500px;
    text-align: center;
}
.but{
    padding-top: 5px;
    padding-left: 200px; 
}
button{
   font-size: 15px;
   padding: 15px;
   border-radius: 30px;
}
.container{
  text-align: left;
}
.container1{
    width:100%;
    overflow:auto;
}
.box{
    background-color: white;
    width:25%;
    height: 200px;
    margin:auto;
    float: left;
    border-radius: 20px;
    text-align: justify;
    /* margin: 20px;
    padding: 20px; */
}
.box1{
    background-image: url(img/woman.jpg);
    width:28%;
    height: 770px;
    float: left;
    margin: 20px;
    border-radius: 20px;
    
}
.box2{
    background-image: url(img/anime.jpg);
    width:28%;
    height: 770px;
    float: left;
    margin: 20px;
    border-radius: 20px;
}
.box3{
   background-image: url(img/battery__f9km4l6jlv6u_xlarge.jpg);
   width:28%;
    height: 770px;
    float: left;
    margin: 20px;
    border-radius: 20px;
}
.box4{
    background-image: url(img/innovation__b03hhgj3xx9e_xlarge.jpg);
    width:28%;
    height: 770px;
    float: left;
    margin: 20px;
    border-radius: 20px;
}
.box5{
    background-image: url(img/afro.jpg);
    width:28%;
    height: 770px;
    float: left;
    margin: 20px;
    border-radius: 20px;

}
.box6{
    background-image: url(img/night.jpg);
    width:28%;
    height: 770px;
    float: left;
    margin: 20px;
    border-radius: 20px;
}
.box7{
    background-image: url(img/apple\ holder.jpg);
    width:28%;
    height: 770px;
    float: left;
    margin: 20px;
    border-radius: 20px;
}
.box8{
    background-image: url(img/white\ iPhone.jpg);
    width:28%;
    height: 770px;
    float: left;
    margin: 20px;
    border-radius: 20px;
}
.container2{
    width:100%;
    overflow:auto;
    text-align: justify;
    margin:auto;
    padding-left: 30px;
    border-radius: 20px;
    
}

.pic1{
    background-image: url(img/frame.png);
    width:  auto;
    height: 570px;
    border-radius: 30px;
   margin: 100px;
}
/* .div1{
    float: left;
}
.div2{
    float: left;
} */
.message1 h3 a{
    text-decoration: none;
    color: black;
}
.message1 h4 a{
    text-decoration: none;
    color: black;
}
.message2 h3 a{
    text-decoration: none;
    color: black;
}
.message2 h4 a{
    text-decoration: none;
    color: black;
}
.message3 h3 a{
    text-decoration: none;
    color: black;
}
.message3 h4 a{
    text-decoration: none;
    color: black;
}
.message1{
float: left;
padding: 20px;
}
.message2{
    float: left;
    padding: 20px;
}
.message3{
    float: left;
    padding: 20px;
}
.passage{
    font-size: 12px;
    text-align: justify;
    font-family: sans-serif ;
    padding-left: 100px;
    padding-right: 100px;
}

.message_a{
    float: left;
    padding: 20px;
}
.message_b{
    float: left;
    padding: 20px;   
}
.message_c{
    float: left;
    padding: 20px;   
}
.message_d{
    float: left;
    padding: 20px;  
}
.message_e{
    float: left;
    padding: 20px;
}
.message_1{
    padding-left: 100px;
}
.message_a p a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.message_b p a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.message_c p a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.message_d p a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.message_e p a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.message_a p a:hover{
   text-decoration: underline;
}
.message_b p a:hover{
    text-decoration:underline;
}
.message_c p a:hover{
    text-decoration:underline;
}
.message_d p a:hover{
    text-decoration:underline;
}
.message_e p a:hover{
    text-decoration:underline;
}
.colour1{
    float: left;
    padding: 50px;
}
.colour2{
    float: left;
    padding: 50px;
}
.colour3{
    float: left;
    padding: 50px;
}
.colour4{
    float: left;
    padding: 50px;
}
.colour5{
    float: left;
    padding: 50px;
}
.dec li{
    list-style-type: none;
}
.dec li a{
    text-decoration: none;
    color: black;
}
.dec li a:hover{
   text-decoration: underline;
}
.bit{
    cursor: pointer;
}
#radio{
    border: 1px solid grey;
    border-radius: 1px ;
    width: 10px;
    height: 10px;
}